* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: #878787;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  text-align: center;
} 

#navbar  {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #e3f4f4;
  text-align: right;
  padding: 10px;
}
#navbar ul li {
  display: inline-block;
  padding: 5px 20px;
  margin: 0 40px;
  border: 1px solid black;
  background-color: #eee;
}

#welcome-section {
  background-color: #eeee;
  height: 110vh;
}
#welcome_text {
  /* display: inline-block; */
  font-size: 4rem;
  line-height: 110vh;
}

#projects {
  background-color: #b9b9b9;
  padding: 20px;
  padding-top:60px;
  margin-top: -60px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 40px;
  padding-bottom: 40px;
}
 .flex-child  {
  display: flex;
  width:  325px;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid black;
  padding: 5px;
  align-items: center;
  margin: 20px;
 }
 .project-tile {
  color: brown;
  background-color: #aaa;
  width: 100%;
  margin-bottom: 5px;
 }

 #contact {
   padding: 25px;
  
 }
 .contact-methods #profile-link{
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #eee;
    /* text-decoration: none; */
    line-height: 100px;
    margin: 20px;
 }


 @media screen and (max-width: 950px) {

  #navbar {
    text-align: center;
  }
  
  .flex-container  {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     align-content: center;
     padding-top: 40px;
     padding-bottom: 40px;
     margin: 0;
 }
 .card_content {
     display: flex;
     flex-direction: column;
     background-color: #fff;
     border: 1px solid black;
     align-items: center;
     width: 80%;
     margin: 10px;
 }
}
